<!DOCTYPE html>
<html>
<head>
	<title>Everybody Hates Chris</title>
	<script type="text/javascript" src="js/lib/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/lib/underscore-min.js"></script>
	<script type="text/javascript" src="js/lib/backbone-min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lib/handlebars.runtime-v3.0.1.js"></script> // {{handlebar life}}
	<script type="text/javascript" src="templates/templates.js"></script> //doucheminion
	<!-- <script type="text/javascript" src="js/collections/douche.js"></script> -->
	<script type="text/javascript" src="js/collections/menuitems.js"></script>
	<script type="text/javascript" src="js/views/menu.js"></script> //kissmycode
    <script type="text/javascript" src="js/views/menuitemform.js"></script>
	<script type="text/javascript" src="js/views/menuitemdetails.js"></script> //doucheminiondetails
	<script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript">
        app.menuItems.reset({{{data}}});
    </script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
</head>
<body>
	<div class="container">
		<h1>All my fans are crazy bitches! Thanks for being a fan!</h1>
		 
		<ul class="nav nav-pills">
			<li><a href="#">Fuck You</a></li>
			<li><a href="#/menu-items/new">Request My Autograph</a></li>
			<li><a href="#/menu-items/douche">IDFWU</a></li>
		</ul>
	</div>
	
	<div class="container" id="stayTFOffMyGit"></div>
</body>
</html>
